
h1{
    color: darkorchid;
}
img{
    width: 400px;
    padding: 10px;
}
div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1000px;
    padding: 20px;
}

#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: plum;
    padding: 50px;
    border: darkorchid solid 5px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-watercolor-minimalistic-background-backgroundsimplewatercolorlovely-image_86862.jpg);
}